
body {
  background-color: #282c34;
  color: white;
  font-size: 16px;
}

a {
  color: #61dafb;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

input, button {
  padding: 0.25rem;
  font-size: 0.75rem;
  margin: 1rem 1px;
}

button {
  border-radius: 0.25rem;
  background-color: #697793;
  color: #fff;
  border: none;
}

/* App */

.App {
  display: flex;
  justify-content: center;
}

.App > * {
  flex: 1;
}

